.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 100%;
  height: 60%;
  justify-content: center;

  display: flex;
  flex-direction: row;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.swipper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: min(10%, 50px);
  padding-bottom: 5%;
}

.dot {
  width: 1.4em;
  height: 1.4em;
  background-color: #b6b6b6;
  border-radius: 1.5em;
  opacity: 0.8;
}

.dot-active {
  width: 1.5em;
  height: 1.5em;
  background-color: #4aa3ab;
  border-radius: 1.5em;
  opacity: 0.8;
}

.dot:not(:last-child) {
  margin-right: 10px;
}

.dot-active:not(:last-child) {
  margin-right: 10px;
}

.image-container {
  width: 80%;
  height: 70%;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  text-align: center;
  /* font-family: Apple SD Gothic NeoB; */
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "Apple SD Gothic NeoSB";
  src: url("../assets/fonts/AppleSDGothicNeoSB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apple SD Gothic NeoR";
  src: url("../assets/fonts/AppleSDGothicNeoR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apple SD Gothic NeoB";
  src: url("../assets/fonts/AppleSDGothicNeoB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8823529411764706);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 1000;
}

.modal {
  width: 90%;
  height: min(25%, 300px);
  background-color: #fff;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoR;
}

.modal-button-skip {
  position: relative;
  bottom: 1.5rem;
  min-height: 3rem;
  margin: auto auto 0 auto;
  background: white;
  width: 14.5rem;
  height: 5.7rem;
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoSB;
  border: 0.4px solid #b6b6b6;
  border-radius: 1rem;
}

.modal-button {
  position: relative;
  bottom: 1.5rem;
  min-height: 3rem;
  margin: auto auto 0 auto;
  background: #2e7f86;
  width: 14.5rem;
  height: 5.7rem;
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoSB;
  color: white;
  border-radius: 1rem;
  border: 0;
}

.modal-buttons {
  width: 100%;
  height: 70%;
  display: flex;
}

.handle {
  text-align: center;
  vertical-align: center;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 2.5rem;
}

input[type="checkbox"] {
  margin-top: 10%;
  /* margin-left: 70%; */
  position: relative;
  width: 9.7rem;
  height: 4rem;
  -webkit-appearance: none;
  border-radius: 2rem;
  outline: none;
  /* transition: .4s; */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: #2e7f86;
}

input[type="checkbox"]::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  width: 4rem;
  height: 4rem;
  background: #8dc9ce;
  border-radius: 50%;
  /* transform: scale(1.1); */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* transition: .4s; */
}

input:checked[type="checkbox"]::before {
  left: 6rem;
  background: #8dc9ce;
}

.toggle {
  margin-top: min(10%, 40px);
  margin-right: 10%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.toggle-switch {
  display: inline-block;
  position: relative;
}

label {
  /* position: absolute; */
  color: #fff;
  font-weight: 600;
  /* pointer-events: none; */
}

.onbtn {
  bottom: 27%;
  left: 11px;
  position: absolute;
  font-size: 1.5rem;
  font-family: Apple SD Gothic NeoR;
}
.ofbtn {
  bottom: 30%;
  right: 8px;
  color: #2e8289;
  position: absolute;
  font-size: 1.2rem;
  font-family: Apple SD Gothic NeoSB;
}

.splash {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
}

.join-image {
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
}

.arrow-next {
  right: 10px;
}

.arrow-prev {
  left: 10px;
}

.arrow-prev,
.arrow-next {
  top: calc(50% - 20px);
  position: absolute;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.arrow-prev::after {
    position: absolute;
    left: 1rem; 
    top: 2rem;
    content: '';
    width: 30px; 
    height: 30px; 
    border-top: 5px solid #B3B3B3;
    border-right: 5px solid #B3B3B3; 
    transform: rotate(225deg);
}

.arrow-next::after {
    right: 1rem;
    position: absolute;
    top: 2rem; 
    content: '';
    width: 30px; 
    height: 30px; 
    border-top: 5px solid #B3B3B3;
    border-right: 5px solid #B3B3B3; 
    transform: rotate(45deg); 
}
