.container {
  overflow: hidden;
  position: relative;
}

.container {
  width: 100vw;
  height: 100vh;
}

.slider {
  width: 100%;
  height: 80%;
  justify-content: center;

  display: flex;
  flex-direction: row;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.swipper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 30%;
  padding-bottom: 5%;
}

.dot {
  width: 1.4em;
  height: 1.4em;
  background-color: #b6b6b6;
  border-radius: 1.5em;
  opacity: 0.8;
}

.dot-active {
  width: 1.5em;
  height: 1.5em;
  background-color: #4AA3AB;
  border-radius: 1.5em;
  opacity: 0.8;
}

.dot:not(:last-child) {
  margin-right: 10px;
}

.dot-active:not(:last-child) {
  margin-right: 10px;
}

.buttons {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 5vmin;
  text-decoration: underline;
}

button {
  display: block;
  width: 22vmin;
  height: 10vmin;
  border-radius: 2vmin;
  border: 0;
  background-color: white;
  cursor: pointer;
  margin-bottom: 10%; /* 추후수정 */
  font-family: Apple SD Gothic NeoSB;
  font-size: 1.5rem;
}

.content h2 {
  font-size: 2.8rem;
  font-family: Apple SD Gothic NeoSB;
  color: #4AA3AB;
}

.content small {
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoR;
}

.content p {
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoB;
}

.image-container {
  width: 100%;
  height: 50%;
}

.content {
  text-align: center;
  /* font-family: Apple SD Gothic NeoB; */
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "Apple SD Gothic NeoSB";
  src: url("../assets/fonts/AppleSDGothicNeoSB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apple SD Gothic NeoR";
  src: url("../assets/fonts/AppleSDGothicNeoR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apple SD Gothic NeoB";
  src: url("../assets/fonts/AppleSDGothicNeoB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 1000;
}

.modal {
  width: 70%;
  height: min(20%, 300px);
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.modal-button {
  position: relative;
  bottom: 1.5rem;
  min-height: 3rem;
  margin: auto auto 0 auto;
  background: red;
  color: var(--light);
  z-index: 10000;
}

.modal-buttons {
  width: 100%;
  height: 70%;
  display: flex;
}

.switch {
  margin-top: 10%;
  margin-left: 70%;
  position : absolute;
  width: 6rem;
  height: 3rem;
  border-radius: 2.5rem;
  background-color: #ccc;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background-color: red;
}

.handle {
  text-align: center;
  vertical-align: center;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 2.5rem;
}