.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider {
  width: 100%;
  height: 80%;
  justify-content: center;

  display: flex;
  flex-direction: row;
}

.slide {
  min-width: 100%;
  height: 100%;
}

.swipper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 5%;
}

.dot {
  width: 1.4em;
  height: 1.4em;
  background-color: #b6b6b6;
  border-radius: 1.5em;
  opacity: 0.8;
}

.dot-active {
  width: 1.5em;
  height: 1.5em;
  background-color: #4AA3AB;
  border-radius: 1.5em;
  opacity: 0.8;
}

.dot:not(:last-child) {
  margin-right: 10px;
}

.dot-active:not(:last-child) {
  margin-right: 10px;
}

.buttons {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 5vmin;
  text-decoration: underline;
}

button {
  display: block;
  width: 22vmin;
  height: 10vmin;
  border-radius: 2vmin;
  border: 0;
  background-color: white;
  cursor: pointer;
  margin-bottom: 10%; /* 추후수정 */
  font-family: Apple SD Gothic NeoSB;
  font-size: 1.5rem;
}

/* .content h2 {
  font-size: 2.8rem;
  font-family: Apple SD Gothic NeoSB;
  color: #4AA3AB;
} */

.content small {
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoR;
}

.content p {
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoB;
}

.image-container {
  width: 100%;
  height: 50%;
}

.content {
  text-align: center;
  /* font-family: Apple SD Gothic NeoB; */
}

html {
  font-size: 10px;
}

@font-face {
  font-family: "Apple SD Gothic NeoSB";
  src: url("../assets/fonts/AppleSDGothicNeoSB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apple SD Gothic NeoR";
  src: url("../assets/fonts/AppleSDGothicNeoR.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apple SD Gothic NeoB";
  src: url("../assets/fonts/AppleSDGothicNeoB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8823529411764706);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 1000;
}

.modal {
  width: 90%;
  height: min(25%, 300px);
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoR;
}

.modal-button-skip{
  position: relative;
  bottom: 1.5rem;
  min-height: 3rem;
  margin: auto auto 0 auto;
  background: white;
  width: 14.5rem;
  height: 5.7rem;
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoSB;
  border: 0.4px solid #B6B6B6;
}

.modal-button{
  position: relative;
  bottom: 1.5rem;
  min-height: 3rem;
  margin: auto auto 0 auto;
  background: #2E7F86;
  width: 14.5rem;
  height: 5.7rem;
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoSB;
  color : white;
}

.modal-buttons {
  width: 100%;
  height: 70%;
  display: flex;
}

.switch {
  margin-top: 10%;
  margin-left: 70%;
  position : absolute;
  width: 6rem;
  height: 3rem;
  border-radius: 2.5rem;
  background-color: #ccc;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;
  background-color: red;
}

.handle {
  text-align: center;
  vertical-align: center;
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 2.5rem;
}

input[type="checkbox"] {
  margin-top: 10%;
  margin-left: 70%;
  position: relative;
  width: 9.7rem;
  height: 4rem;
  -webkit-appearance: none;
  border-radius: 20px;
  outline: none;
  /* transition: .4s; */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

input:checked[type="checkbox"] {
  background: #2E7F86;
}

input[type="checkbox"]::before {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0;
  width: 4rem;
  height: 4rem;
  background: #8DC9CE;
  border-radius: 50%;
  /* transform: scale(1.1); */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* transition: .4s; */
}

input:checked[type="checkbox"]::before {
  left: 6rem;
  background: #8DC9CE;
}

.toggle {
  position: relative;
  /* display: inline; */
  text-align: center;
}

label {
  /* position: absolute; */
  color: red;
  font-weight: 600;
  pointer-events: none;
}

.onbtn {
  bottom: 0px;
  left: 11px;
}  
.ofbtn {
  bottom: 0px;
  right: 8px;
  color: #8E9AA0;
}

.splash {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.prepare {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  /* display: flex; */
  align-items: center;
}

.start-button {
  display: block;
  width: 68vmin;
  height: 13vmin;
  margin-left: 16vmin;
  margin-right: 16vmin;
  border-radius: 2vmin;
  margin-top: 10vmax;
  
  border: 0;
  background-color: #2E7F86;
  color : white;
  cursor: pointer;
  font-family: Apple SD Gothic NeoSB;
  font-size: 2rem;
}

.prepare-container {
  padding-top: 40%;
  text-align: center;
  font-size: 1.8rem;
  font-family: Apple SD Gothic NeoR;
  justify-content: center;
}